html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hero-body {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center center;
}

.hero.is-brown {
    background-color: #743E32;
}

.navbar a {
    color: white;
}

@media(min-width:300px) {
    .navbar-item {
        background-color: #743E32;
    }
}

.navbar a:hover {
    color: #743E32;
    background-color: white;
}