html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.hero-body {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center center;
}

.hero.is-brown {
    background-color: #743E32;
}

.navbar a {
    color: white;
}

@media(min-width:300px) {
    .navbar-item {
        background-color: #743E32;
    }
}

.navbar a:hover {
    color: #743E32;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #743E32;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    background-image: url("../images/info.jpg");
}

.title {
    position: relative;
}

.copyrigth {
    background-color: #66C3C1;
    text-align: center;
    font-size: 1.5em;
}

.social-network i {
    font-size: 2em;
    padding: 0.2em;
}

.facebook-icon {
    color: #3D5A98;
}

.instagram-icon {
    color: #E24F4E;
}

.twitter-icon {
    color: #38A8E0;
}

.title {
    font-size: 5em;
}